/*Body*/
body {
    background: rgb(83, 138, 194);
    font: normal 15pt Arial;
}

/*Header*/
header {
    color: rgb(255, 245, 245);
    text-align: center;
}

/*Section*/
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.477);
}

img {
    width: 100%;
    height:80vh;
    border-radius: 50%;
}

/*Footer*/
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

